/* Scope styles to login-body */
.login-body {
  min-height: 100vh;
  background-image: url("../../Images/sign\ in\ bg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

width: 100% !important;
}

@font-face {
  font-family: Baloo-Medium;
  src: url(../../assets/Fonts/Baloo/BalooBhaina2-Medium.ttf);
}

@font-face {
  font-family: Baloo-Regular;
  src: url(../../assets/Fonts/Baloo/BalooBhaina2-Regular.ttf);
}

@font-face {
  font-family: Gilroy-Bold;
  src: url(../../assets/Fonts/Gilroy/Gilroy-Bold.ttf);
}

.login-Title {
  font-family: Baloo-Medium;
  font-size: 55.46px;
  margin-bottom: 100px !important;
  color: #ffffff;
  text-align: center;
}

.login-supTitle {
  font-family: Baloo-Regular;
  font-size: 32.29px;
  color: #ffffff;
  text-align: center;
}

.form-label-left {
  text-align: left;
  display: block;
  color: #ffffff;
  font-family: Baloo-Medium;
  font-size: 21.06px;
}

.int {
  background-color: transparent !important;
  border: 1px solid #ff8217 !important;
  border-top: none !important;
  border-left: none !important;
  width: 456.21px !important;
  border-right: none !important;
}

.int::placeholder {
  color: #9b9b9b !important;
  font-family: Baloo-Regular !important;
  font-size: 18.25px !important;
}

.forget {
  color: #9b9b9b !important;
  font-family: Baloo-Regular !important;
  font-size: 21.06px !important;
  margin-top: 29px;
  text-align: center;
}

.Sigin {
  margin-top: 60px;
  background-color: #f1f4f3 !important;
  border-color: #f1f4f3 !important;
  border-radius: 25.15px !important;
  width: 168.74px !important;
  height: 50.29px !important;
  color: #154a4a !important;
  font-family: Gilroy-Bold !important;
  font-size: 23.16px !important;
}

.Sigin:hover {
  background-color: #154a4a !important;
  color: #f1f4f3 !important;
  transition: 0.5s;
}

@media only screen and (max-width: 768px) {
  .login-supTitle {
    font-size: 25.29px;
  }
  .int{
    width: 100% !important;
  }
}


.home-container {
  display: flex;
}

.content {
  margin-left: 302px; /* Adjust based on the width of your sidebar + margin */
  padding: 20px;
  width: calc(100% - 302px); /* Adjust based on the width of your sidebar + margin */
  transition: margin-left 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .content {
    margin-left: 0;
    width: 100%;
  }
}
